################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/yUYUko_food_MAP.sln
/yUYUko_food_MAP.vcxproj
/yUYUko_food_MAP.vcxproj.filters
/yUYUko_food_MAP.vcxproj.user
/yUYUko_food_MAP/x64/Debug
/backend/node_modules
/frontend/node_modules
/node_modules
/frontend/dist
.DS_Store
/frontend/.env
/backend/.env
/backend/data.sqlite
yUYUko_food_MAP.code-workspace
/backend/uploads
CLAUDE.md